body {
    background-color: rgb(45, 51, 56);
}

.inicio {
    background-color: rgb(45, 51, 56);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
#btn-regresar {
    text-decoration: none;
}
.btn-flotante {

    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #1e2326;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    z-index: 9999;
}

.btn-flotante:hover {
    background-color: #1CB698;
}

.align-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.texto-tercera-columna {
    font-size: 20px;
    color: #fff;
    margin-top: 300px;
    border: 10px solid #1CB698;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .col {
        flex: 1;
    }

    .texto-tercera-columna {
        margin-top: 20px;
    }
}