.hero-wrap {
    background-image: url('ImgCharyCris/cacao1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-wrap h1 {
    opacity: 1;
    animation: fadeIn 3s ease-in-out;
    font-size: 3.5rem;
    color: #ece9e4;
    font-family: Arial, sans-serif;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ftco-section {
    margin-top: 40px;
}
.imagen-galeria {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
}

.blog-entry {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}
.imagen-galeria:hover {
    transform: scale(1.5);
}
