
.hero-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-wrap h1 {
    user-select: none;
    opacity: 0; /* Inicialmente, establece la opacidad en 0 para ocultar el elemento */
    animation: fadeIn 3s ease-in-out forwards; /* Aplica la animación y mantiene el último estado */
    font-size: 3.5rem;
    color: #ece9e4;
    font-family: Arial, sans-serif;
}

/* Estilos para pantallas pequeñas (hasta 768px de ancho) */
@media (max-width: 768px) {
    .hero-wrap {
        background-attachment: scroll;
    }

    .hero-wrap h1 {
        font-size: 2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ftco-section {
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-4 {
    flex-basis: calc(33.33% - 15px);
    margin-bottom: 30px;
}

.imagen-galeria {
    width: 300px;
    height: 200px;
    object-fit: cover;
}


.imagen-galeria:hover {
    transform: scale(1.5);
}