body {
  font-family:'Open Sans', sans-serif;
font-size:14px;
background-image:url(../media/so1.png);
}

h1, h2, h3, h4, h5, h6 {
font-family:'Open Sans', sans-serif;
}

h1 {
line-height:50px;
font-weight:900;
font-size:30px;
text-transform:uppercase;
text-align:center;
color:#E91C1C;
}
h1::after {
display: block;
content: "";
height: 2px;
width: 150px;
background: #E91C1C;
margin: 5px auto 40px;
}


.text-center {
text-align:center;
}

h2 {
line-height:50px;
color:#E91C1C;
}
h3 {
line-height:30px;
padding-bottom:20px;
}
h4 {
padding-top: 25px;
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;

}
.adjst {
padding-top: 0px;
}
.c-main {
color:#E91C1C;
}
p {
font-weight:300;
line-height:30px;
padding-bottom:15px;
}

.space-free {
height:100px;
}

.btn {
  background: #1f2542f1;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

div a.active, div a:hover{
	background: #7ebe6e;
	transition: .5s;
}
