body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
  background-image: url(../media/so1.png) !important;
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  line-height: 50px !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  text-transform: uppercase !important;
  text-align: center !important;
  color: #E91C1C !important;
}

h1::after {
  display: block !important;
  content: "" !important;
  height: 2px !important;
  width: 150px !important;
  background: #E91C1C !important;
  margin: 5px auto 40px !important;
}

h2 {
  line-height: 50px !important;
  color: #E91C1C !important;
}

h3 {
  line-height: 30px !important;
  padding-bottom: 20px !important;
}

h4 {
  padding-top: 25px !important;
  line-height: 40px !important;
  padding-bottom: 0px !important;
  font-size: 22px !important;
  font-weight: 900 !important;
}

.adjst {
  padding-top: 0px !important;
}

.c-main {
  color: #E91C1C !important;
}

p {
  font-weight: 300 !important;
  line-height: 30px !important;
  padding-bottom: 15px !important;
}

.space-free {
  height: 100px !important;
}

.btn-group {
  display: inline-flex;
}

.btn {
  display: inline;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:first-child {
  margin-right: 10px;
}
