.text-container {
  width: 100%; /* Define el ancho deseado, puedes usar porcentaje o píxeles */
  max-width: 800px; /* Establece un ancho máximo si lo necesitas */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  margin: 40px auto; /* Centra horizontalmente y agrega margen superior e inferior */
  text-align: center; /* Alinea el contenido al centro */
  padding: 20px; /* Agrega espacio alrededor del contenido */
  border: 1px solid #ccc; /* Opcional: Agrega un borde alrededor del contenido */
  border-radius: 10px; /* Opcional: Agrega bordes redondeados al contenido */
}


.teachers-thumbnail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.teachers-info {
  text-align: center;
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  text-align: center;
}

.owl-carousel .item img {
  width: 50%;
  height: 50%;
}
