h1{ font-size: 3.5em;}
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(80, 65, 26);
    text-decoration: none; /* Quitar subrayado */
    transition: background-color 0.3s ease-in-out; /* Agregar transición */
}
button:hover {
    background-color: rgb(96, 143, 9); /* Cambiar color al pasar el mouse por encima */
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/cacao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero h1{
    color: white;
}
