*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	
}
nav{
	background: #9b4207;
	height: 80px;
	width: 100%;
}

nav ul li{
	display: inline-block;

}
nav ul li a{
	color:#fff;
	display: block;
	padding: 10px 65px;
	text-decoration: none;

	
	
}
div a.active, li a:hover{
	background: #FDEEC4;
	transition: .5s;
}
.logo{

	background: url(../media/imgat.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 200px;
	padding: 150px;
	margin: 0;

}
.nav-tt{
	
}
