.text-container {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  animation: glowing-border 2s infinite;
}

@keyframes glowing-border {
  0% {
    border-color: #ccc;
    box-shadow: 0 0 5px #ccc;
  }

  50% {
    border-color: #807e79;
    box-shadow: 0 0 20px #15770c;
  }

  100% {
    border-color: #ccc;
    box-shadow: 0 0 5px #ccc;
  }
}

.teachers-thumbnail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.teachers-info {
  text-align: center;
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  text-align: center;
}

.owl-carousel .item img {
  width: 700px;
  height: 400px;
}