
.b{
  background-color: rgb(80, 65, 26);
  margin-left: 0px;
  height: 80px;
}

.navbar-brand img {
  width: 100px !important;
  height: 130px !important;
}
.c {
  margin-right: 30px !important;
  
}
