.contNosotros{
  margin-top: 40px;}

.teachers-thumbnail img {
  max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
  margin-bottom: 15px; /* Agrega un margen inferior de 15px para separar las imágenes */
}

/* Estilo personalizado para los textos de los profesores */
.teachers-info {
  text-align: center; /* Centra el texto en el contenedor */
}
/* Estilos para el contenedor del carrusel */

/* Estilos para cada elemento del carrusel */
.item {
  text-align: center; /* Centrar el contenido dentro de cada elemento */
  width: 100%; /* Ocupar todo el ancho del carrusel */
}

.carousel-image {
  max-width: 50%; /* Establece el tamaño máximo del ancho al 80% del contenedor */
  max-height: 300px; /* Establece la altura máxima */
  margin: 0 auto; /* Centrar horizontalmente la imagen */
}
